<div id="<%= dom_id card %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Deck:</strong>
    <%= card.deck_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Front text:</strong>
    <%= card.front_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Back text:</strong>
    <%= card.back_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last done at:</strong>
    <%= card.last_done_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Done count:</strong>
    <%= card.done_count %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this card", card, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this card', edit_card_path(card), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
